<section class="login-background" id="wrapper">

  <div class="container">
    <div class="row">
      <div class="col-sm-12" align="center">
        <div class="card card-login">

          <div class="row" align="center">
            <div class="col-12">
              <img class="card-img-top img-responsive img-astral" src="../../assets/images/Astral.png">
            </div>
          </div>
          <div class="card-body">
            <h2 class="card-title">Sistema de Pagos</h2>
          </div>
          <form class="form-material">
            <div class="form-group">
              <div class="col-10 offset-1">
                <input type="text" class="form-control" placeholder="Usuario" name="usuario" [(ngModel)]="user.usuario">
              </div>
            </div>
            <div class="form-group">
              <div class="col-10 offset-1">
                <input class="form-control" placeholder="Contraseña" type="password" name="contraseña"
                [(ngModel)]="user.clave" (keyup.enter)="validar_campos(user)">
              </div>
            </div>
          </form>
          <div class="row" align="center">
            <div class="col-12">
              <div class="button-group">
                <button type="button" class="btn waves-effect waves-light btn-rounded btn-info btn-ingresar btn-fondo"
                        (click)="validar_campos(user)">Ingresar</button>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>



  </div>

  <div *ngIf="cargando" class="loader" style="position: absolute; top: 70% ">
    <div class="loader">
      <div class="loader__figure"></div>
      <p class="loader__label">Cargando ...</p>
    </div>
  </div>

</section>

