.c-pointer{
  cursor: pointer;
}

.label-st{
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.w-100{
  width: 100%;
}

.color-pagos{
  background-color: #5352ed;
}

h2{
  font-size: 24px;
  font-weight: bold;
  color: #2f3d4abd;
}
label#labelCheck::before{
  border-radius: 20% !important;
}
::-webkit-scrollbar{
  width: 8px;
  visibility: hidden;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: #a6a6a6;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color:white ;
}

::-webkit-scrollbar:hover{
  visibility: visible;
}
#miTabla2 td{
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 15px;
}

.table-titles{
  font-family: sans-serif;
  font-size: 18px;
}
.table-tittle-small{
  width: 10%;
  min-width: 110px;
}
.table-tittle-large{
  width: 70%;
}

.tabla2{
  height: 250px;
  overflow-y: auto;
}
.cw{
  color: white;
}

#miTabla2 tbody tr td {
  width: 25%;
}

