.c-pointer{
  cursor: pointer;
}

.label-st{
  font-size: 20px;
  padding: 10px;
  cursor: pointer;
}

.w-100{
  width: 100%;
}

.color-pagos{
  background-color: #5352ed;
}

h2{
  font-size: 24px;
  font-weight: bold;
  color: #2f3d4abd;
}
::-webkit-scrollbar{
  width: 8px;
  visibility: hidden;
  /*background: transparent; !*Ver o no ver barra*!*/
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: #a6a6a6;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color:white ;
}

::-webkit-scrollbar:hover{
  visibility: visible;
}

thead {
  width: 500px;
  overflow-x: auto;
}

tbody {
  overflow-x: auto;
  width: 100%;
}
td{
  width: 1%
}

@media (min-width: 576px) and (max-width: 767.98px)  {
  th{
    width: 20%;
  }

}

@media (min-width: 1200px) {

  th{
    width: 28%;
  }

}


thead, tbody { display: block; }
tbody {
  height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}

#tabla-body:hover{
  overflow: auto;
}
